html {
  overflow-y: scroll;
}

body {
  margin: 0;
}


.task-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    input {
      width: 18px;
      height: 18px;
      cursor: pointer;
      accent-color: #7cc95d;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 6px;
    button {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 6px;
      background: transparent;
      color: #6d6d6d;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background: #f2f2f2;
        color: #111;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__title {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background: transparent;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    color: #1f1f1f;
    &::-webkit-scrollbar {
      display: none;
    }
    &::placeholder {
      color: #b3b3b3;
    }
  }
  &__description {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-size: 13px;
    line-height: 1.5;
    color: #8b8b8b;
    font-family: inherit;
    &::placeholder {
      color: #666;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__priority {
    position: relative;
  }

  &__priority-list {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__badge {
    border: none;
    cursor: pointer;

    padding: 6px 12px;

    border-radius: 8px;

    font-size: 12px;
    font-weight: 600;

    transition: .2s;

    &:hover {
      transform: translateY(-2px);
    }

    &--low {
      background: #d6f0d3;
      color: #2f6d2f;
    }

    &--medium {
      background: #f5deb0;
      color: #8a5b00;
    }

    &--high {
      background: #ffd6d6;
      color: #a10000;
    }
  }
  
  &__drag {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: #8b8b8b;
    cursor: grab;
    transition: 0.2s;
    &:hover {
      background: #f3f3f3;
      color: #222;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.task-card__drag {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
