
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 calc(33.333% - 16px);
  padding: 20px;

  border-radius: 18px;

  &--todo {
    background: #ededed;
  }

  &--progress {
    background: #dcefff;
  }

  &--done {
    background: #e2f2d9;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }
}
