.sidebar {
  width: 260px;
  min-width: 260px;
  background: #ffffff;
  border-right: 1px solid #e8e8e8;
  padding: 32px 24px;

  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: 48px;

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: #1e1e1e;
    }
  }

  &__nav {
    flex: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 18px;

    border-radius: 12px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #5b5b5b;

    cursor: pointer;

    transition: .25s;

    &:hover {
      background: #f4f4f4;
      color: #1f1f1f;
    }

    &--active {
      background: #d8f5c2;
      color: #1e1e1e;
      font-weight: 600;
    }
  }

  &__icon {
    font-size: 20px;
  }

  &__text {
    flex: 1;
  }
}